<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F1 Navbar</title>
    <link rel="stylesheet" href="../assets/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="../pages/index.html">Home</a></li>
            <li><a href="../pages/teams.html">Teams</a></li>
            <li><a href="../pages/drivers.html">Drivers</a></li>
            <li><a href="../pages/history.html">History</a></li>
        </ul>
    </nav>
</body>
</html>